.fp-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #fff;
    margin-left: 500px;
    margin-top: 150px;
  }
  
  .fp-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .fp-container p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .fp-container form {
    display: flex;
    flex-direction: column;
  }
  
  .fp-container input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: century gothic;
    font-weight: bold;
  }
  
  .fp-container button {
    padding: 10px;
    background-color: #0095f6;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-family: century gothic;
    font-weight: bold;
  }
  
  .fp-container button:hover {
    background-color: black;
  }
  
  .fp-container .back-login {
    text-align: center;
    margin-top: 20px;
    font-family: century gothic;
    font-weight: bold;
  }
  
  .fp-container .back-login a {
    color: #0095f6;
    text-decoration: none;
  }
  
  .fp-container .back-login a:hover {
    text-decoration: underline;
  }