.container {
    display: flex;
    height: 100vh;
    width: 100%;
  }
  
  .left-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .phone-frame {
    width: 100%;
    max-width: 250px;
    height: 500px;
  }
  
  .right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .login-box {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  @media (min-width: 1075px) {
.phone-frame{
    width: 300px;
}
  }

  @media (min-width:1000px){
    .phone-frame{
        width: 300px;
    }
  }

  @media (min-width:700px){
    .phone-frame{
        width: 300px;
        margin-left: 100px;
    }
  }
  @media (max-width:700px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
    }
    .left-side{
        display: none;
    }
    .right-side{
        position: relative;
        top: -60px;
    }
  }
  
  @media (max-width:400px){
    .logo{
        width: 85px;
    }
    .input,.button,.google-button{
        width: 80%;
    }
    a.link1{
        margin-left: 20px;
        font-size: 13px;
    }
    a.link2{
        margin-right: 20px;
        font-size: 13px;
    }
    .login-container{
        padding: 10px;
    }
    .right-side{
        margin-left:-35px;
    }

  }
 

  