.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
    background-color:white;
    position: fixed;
    width: 10%;
    top: 0;
    z-index: 1000;
 }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logoImage {
    height: 150px;
    margin-right: 10px;
  }
  