.stories-container::-webkit-scrollbar {
  display: none; 
}
.stories-container{
  display: flex;
  overflow-x: scroll;
  padding: 10px 0;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  margin-top: 0px;
}

.friend-name {
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
}
