
.story {
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0; 
}

.story img {
  border-radius: 50%;
  border: 2px solid lightskyblue;
  width: 55px; 
  height: 55px;
}

.story span {
  display: block;
  font-size: 0.8em;
  color:white;
  font-weight: bold;
  margin-top: 5px;
}
.logo2 {
  margin-top: 10px;
  width: 120px;
}
.logo2container{
  display: flex;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  position: relative;
  left: 2px;

}
.stories-container{
  background-color: #262626;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none; 

}